.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin-bottom: 50px;
}

.card-img-top {
    max-height: 130px;
}

.card-text {
    font-size: 17px;
}

.card-link {
    font-size: 17px;
}