.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -15px;
}

.card {
    margin: 0 15px 50px;
    width: 300px;
}

.card-img-top {
    max-height: 130px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-text {
    font-size: 17px;
}

.card-link {
    font-size: 17px;
}