.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li {
    margin-left: 50px;
}

ul {
    margin-top: -25px;
}

.resume {
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}