/* BEGIN: about me styles */
#about-me div {
    display: block;
}

#about-me p {
    margin-bottom: 1.4em;
    line-height: 1.4em;
}

#about-me img {
    height: 200px;
    border: 1px solid #666;
    border-radius: 20px;
    float: right;
    margin-left: 30px;
}
/* END: about me styles */

@media screen and (max-width: 675px) {
    #about-me h2 {
        margin-top: 10px;
    }
}