/* BEGIN: about me styles */
#about-me p {
    margin-bottom: 1.4em;
    line-height: 1.4em;
}

#about-me img {
    height: 200px;
    border: 1px solid #666;
    border-radius: 20px;
    margin-left: 40px;
}
/* END: about me styles */