/* BEGIN: header styles */
header {
    background-image: url("../../images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 299px;
    display: flex;
    align-items: baseline;
    padding: 0 50px;
}

header h1 {
    font-size: 4em;
    margin-top: auto;
    bottom: -30px;
    position: relative;
}

header nav {
    margin-top: auto;
    margin-left: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav li {
    margin-left: 50px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav a {
    font-size: 1.4em;
}
/* END: header styles */

@media screen and (max-width: 675px) {
    header {
        padding: 0;
        height: 375px;
    }

    header nav {
        bottom: 0;
        margin: 50px auto;
    }
  
    header nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
  
    header nav li {
        align-items: center;
        margin: 5px 0;
    }

}