footer{
    background-image: url("../../images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 299px;
    display: flex;
    align-items: baseline;
    padding: 0 50px;
    transform: rotate(180deg);
    position: relative;
    clear: both;
}

.footer-text {
    transform: rotate(180deg) translateX(-50%);
    position: absolute;
    top: 75px;
    right: 50%;
}

footer ul {
    transform: rotate(180deg) translateX(-50%);
    position: absolute;
    top: 150px;
    right: 50%;
    list-style-type: none;
}

footer li {
    display: inline-block;
}

footer li:not(:first-child) {
    margin-left: 50px;
}

footer a {
    color: #b53c4a;
}

footer a:hover {
    color: #fb6d7d;
}

@media screen and (max-width: 675px) {
    footer ul {
        margin: auto;
        width: 208px;
    }

    .footer-text {
        top: 20px;
    }
}