/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* BEGIN: base styles */
body {
  font-size: 20px;
  color: #292929;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  color: #b53c4a;
}

a {
  text-decoration: none;
  color: #fb6d7d;
}
/* END: base styles */