/* bootstrap */
$theme-colors: (
  "primary": #fb6d7d,
  "secondary": #b53c4a
);

@import "~bootstrap/scss/bootstrap";

/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* BEGIN: base styles */
body {
  font-size: 20px;
  color: #292929;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  color: #b53c4a;
}

a {
  text-decoration: none;
  color: #fb6d7d;
}
/* END: base styles */

/* BEGIN: nav syles */
.selected {
  color: #b53c4a;
}
/* END: nav styles */ 

/* BEGIN: common main styles */
main {
  padding-top: 40px;
  max-width: 960px;
  margin: 0 auto;
  min-height: calc(100vh - 598px); /* header and footer ae 299px each */
  box-sizing: border-box;
}

main section {
  width: 100%;
  margin-top: 50px;
}

main section h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}
/* END: common main styles */

@media screen and (max-width: 1360px) {
  header {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
  }

  header nav {
      margin-left: 0;
      margin-top: 120px;
      position: relative;
      bottom: -30px;
  }
}

/* break point for tablet size */
@media screen and (max-width: 900px) {
  #about-me p {
      flex-direction: column;
      align-items: center;
      margin-left: 15px;
  }

  #about-me h2{
      margin-left: 15px;
  }

  #about-me img {
      margin-right: 15px;
  }

  #work h2 {
    margin-left: 15px;
  }

  .projects {
    padding-left: 30px;
  }
}

@media screen and (max-width: 675px) {
  html, body{
      width:100%;
      overflow-x:hidden;
  } 

  header {
      align-items: center;
      text-align: center;
  }

  .footer-text {
      text-align: center;
  }
 
}